.wrapper{
  margin: 0;
  padding: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.content{
  display: flex;

}

.image{
  padding:10px;
  height: 100%;
  width: 100%;
  background-color: palevioletred;
  flex:5;
}

.details{
  flex:5;
  padding:10px;
}

