<div class="wrapper">
 
    <h1>About me</h1>
    <p>Some fun punchline to add</p>
  
<div class="content">
  <div class="image">

  </div>

  <div class="details">
    <h2>Hello, I'm Ayushee Jain</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptatibus nesciunt magni accusamus! A, libero aliquid veritatis, sint odit ea neque sapiente quidem tempore error nesciunt nihil similique, beatae itaque. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis quo aliquam quaerat porro quidem natus sequi cumque laudantium, provident earum id est reiciendis quas doloremque non accusantium nobis totam vitae ea modi sunt commodi. Molestias dicta mollitia commodi totam illum?</p>
  </div>
</div>
</div>