<div class="wrapper">
  
    <div class="row-1">
      <div class="col-6">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">One</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div routerLink="blog-page" class="btn btn-primary" routerLinkActive="active">Read</div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Two</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div routerLink="blog-page" class="btn btn-primary" routerLinkActive="active">Read</div>
          </div>
        </div>
      </div>
        
     
         
     
    </div>
  
  
    <div class="row-2">
      <div class="col-6">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Three</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div routerLink="blog-page" class="btn btn-primary" routerLinkActive="active">Read</div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Four</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div routerLink="blog-page" class="btn btn-primary" routerLinkActive="active">Read</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-3">
      <div class="col-12">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Five</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div routerLink="blog-page" class="btn btn-primary" routerLinkActive="active">Read</div>
          </div>
        </div>
    </div>

  </div>
</div>
  
