.wrapper{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  height: 100%;

}

.card{
  margin-top: 20px;
}

.btn{
  background-color: #FE536E;
  border-color: #FE536E;
}

