.wrapper{
  /* padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100%; */
  width: 100%;
  /* margin: 50px auto; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #eee;
}

/* .heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
} */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  width: 20%;
  background: #fff;
  /* border: 1px solid #ccc; */
  /* margin-bottom: 10px; */
  transition: 0.3s;
  box-shadow: 4px 4px 4px rgb(221, 221, 221);
  border-radius: 20px;
}

.card-header {
  text-align: center;
  padding: 20px 8px;
  /* background: linear-gradient(to right, #ff416c, #ff4b2b); */
  background-color: #333;
  color: #fff;
  
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 15px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  /* background: linear-gradient(to right, #ff416c, #ff4b2b); */
  background-color: #FE536E;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }
}

