<div class="wrapper">
  
  <div class="row-1">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
       
        <div class="card-body">
          <h5 class="card-title">RC-Meter</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://github.com/jainayushee/RC-Meter" class="btn btn-primary" target="_blank">Open</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card" style="width: 18rem;">
     
        <div class="card-body">
          <h5 class="card-title">To-Do List (Mobile Application)</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://github.com/jainayushee/To-Do-List" class="btn btn-primary" target="_blank">Open</a>
        </div>
      </div>
    </div>
      
   
       
   
  </div>


  <div class="row-2">
    <div class="col-6">
      <div class="card" style="width: 18rem;">
      
        <div class="card-body">
          <h5 class="card-title">Travel Buddy (Mobile Application)</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://github.com/jainayushee/Travel-Guide" class="btn btn-primary" target="_blank">Open</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card" style="width: 18rem;">
  
        <div class="card-body">
          <h5 class="card-title">IOT based Kitchen Tolley Manager</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://github.com/jainayushee/Travel-Guide" class="btn btn-primary" target="_blank">Open</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row-3">
    <div class="col-12">
      <div class="card" style="width: 18rem;">
       
        <div class="card-body">
          <h5 class="card-title">Earthquake Data Analysis (Java console based)</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="https://github.com/jainayushee/Earthquake-Data-Analysis" class="btn btn-primary" target="_blank">Open</a>
        </div>
      </div>
      </div>

  </div>
</div>

